<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337395280045-li8iqft8o35jf09e8g6c6d553t7vlhl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337395280045-li8iqft8o35jf09e8g6c6d553t7vlhl6</string>
	<key>API_KEY</key>
	<string>AIzaSyBLqXy0BUfcHmMo2Slx4ydqAhV458Kh9dM</string>
	<key>GCM_SENDER_ID</key>
	<string>337395280045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-78168</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-78168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337395280045:ios:ac9e88a71b7c8ceee43e24</string>
</dict>
</plist>